<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postagens</title>
</head>
<body>
    <!--O express irá passar todo o conteúdo de outras páginas handlebars para o body do main-->
    {{{body}}}
</body>
</html>