<!--Eu não necessariamente necessito do corpo do html pois eu defini no layout o main, ou seja o corpo do html que eu utilizarei. -->
<form action="/add" method="POST">
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteudo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
<!-- Method é a forma como os dados serão enviados para o backend
    No caso do GET, ele envia os dados por meio da URL.
    No caso do POST, eu estou enviando as informações via HTTP, ou seja 
-->